---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Terminal from "../components/terminal.astro";
---

<Layout title="Thai Nguyen">
  <main>
    <Terminal />
  </main>
</Layout>

<style>
  body {
    font-family: monospace;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    font-size: 15px;
  }
  p{
    line-height: .5;
  }
</style>
