<div id="terminal">
  <div id="output">
    <pre>
      ████████╗██╗  ██╗ █████╗ ██╗    ███╗   ██╗ ██████╗ ██╗   ██╗██╗   ██╗███████╗███╗   ██╗
      ╚══██╔══╝██║  ██║██╔══██╗██║    ████╗  ██║██╔════╝ ██║   ██║╚██╗ ██╔╝██╔════╝████╗  ██║
         ██║   ███████║███████║██║    ██╔██╗ ██║██║  ███╗██║   ██║ ╚████╔╝ █████╗  ██╔██╗ ██║
         ██║   ██╔══██║██╔══██║██║    ██║╚██╗██║██║   ██║██║   ██║  ╚██╔╝  ██╔══╝  ██║╚██╗██║
         ██║   ██║  ██║██║  ██║██║    ██║ ╚████║╚██████╔╝╚██████╔╝   ██║   ███████╗██║ ╚████║
         ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═╝╚═╝    ╚═╝  ╚═══╝ ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═══╝
    </pre>                        
    <span>For a list of available commands, type <span id="help-text">'help'</span>.<br></span>
  </div>
  <div id="input-container">
    <span>guest@thainguyen.com:~$</span>
    <div id="input-wrapper">
      <input
        type="text"
        id="input"
        autofocus
        spellcheck="false"
        autocomplete="off"
        name="command"
        maxlength="20"
      />
      <div id="cursor"></div>
    </div>
  </div>
</div>

<script src="../js/Terminal.js"></script>

<style is:global>
  #terminal {
    /* width: 70%; */
    margin: 0 auto;
    /* background-color: red; */
    padding: 20px;
  }

  #input-container {
    display: flex;
  }

  #input-container span {
    color: #00ff00;
    /* background-color: red; */
    line-height: 1.5;
  }

  #input-wrapper {
    display: flex;
    align-items: center;
    margin-left: 10px; /* Adjust spacing between span and input */
  }

  #input {
    /* caret-color: red; */
    caret-color: transparent;
    font-family: monospace;
    color: #fff;
    border: none;
    background-color: transparent;
    /* background-color: red; */
    resize: none;
    outline: none;
    width: min-content;
    font-size: 15px;
  }

  #cursor {
    width: 8px;
    height: 18px;
    background: #21f838;
    animation: blink-animation 1s step-end infinite;
    z-index: 2;
  }

  #commandSignature {
    color: #21f838;
  }

  @keyframes blink-animation {
    50% {
      opacity: 0;
    }
  }

  #help-text {
    color: red;
    text-shadow: red 2px 0 5px;
  }

  #commandOptions {
    line-height: 1.5;
    /* margin-left: 2em */
    color: fuchsia;
    text-shadow: fuchsia 2px 0 5px;
  }

  #socialOptions {
    line-height: 1.5;
    /* margin-left: 2em */
    color: cyan;
    text-shadow: cyan 2px 0 5px;
  }

  #socialLinks a {
    text-decoration: none;
    color: #fcefef;
  }

  #socialLinks a:hover {
    color: black;
    background-color: #fcefef;
  }

</style>