<div id="terminal">
  <div id="output"></div>
  <div id="input-container">
    <span>guest@thainguyen.com:~$</span>
    <div id="input-wrapper">
      <input
        type="text"
        id="input"
        autofocus
        spellcheck="false"
        autocomplete="false"
        name="command"
      />
      <div id="cursor"></div>
    </div>
  </div>
</div>

<script>
  const outputDiv = document.getElementById("output");
  const inputField = document.getElementById("input");
  inputField.style.width = inputField.value.length + 1 + "ch";

  function displayOutput(output) {
    outputDiv.innerHTML += `<p>${output}</p>`;
    outputDiv.scrollTop = outputDiv.scrollHeight;
  }

  function executeCommand(command) {
    // Add your command execution logic here
    displayOutput(`$ ${command}`);
    // Example: echo command
    if (command.startsWith("echo")) {
      displayOutput(command.slice(5));
    } else if (command === "clear") {
      outputDiv.innerHTML = ""; // Clear the output area
    } else {
      displayOutput("Command not recognized.");
    }
  }

  inputField.addEventListener("focus", function () {
    document.getElementById("cursor").style.display = "block";
  });

  inputField.addEventListener("blur", function () {
    document.getElementById("cursor").style.display = "none";
  });

  inputField.addEventListener("keypress", function (event) {
    if (event.key === "Enter") {
      const command = inputField.value.trim();
      if (command !== "") {
        executeCommand(command);
        inputField.value = "";
      }
    }

    this.style.width = this.value.length + 1 + "ch";
  });

  inputField.addEventListener("keydown", function (event) {
    if (event.key === "Backspace") {
      this.style.width = this.value.length - 1 + "ch";
    }
  });
</script>

<style>
  #input-container {
    display: flex;
  }

  #input-container span {
    color: #00ff00;
  }

  #input-wrapper {
    display: flex;
    align-items: center;
    margin-left: 10px; /* Adjust spacing between span and input */
  }

  #input {
    caret-color: transparent;
    font-family: monospace;
    color: #fff;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    width: min-content;
  }

  #cursor {
    width: 5px;
    height: 14px;
    background: #21f838;
    animation: blink-animation 1s step-end infinite;
    z-index: 2;
    display: none; /* Initially hide the cursor */
  }

  @keyframes blink-animation {
    50% {
      opacity: 0;
    }
  }
</style>
